@import url('fonts.css');
@import url('tfbtns.css');

*
{
	padding: 0px;
	margin: 0px;
}



html
{
	width: 100%;
	height: 100%;
	/*min-height: 650px;*/
}

body
{
	background-image: url('assets/other/background01.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	flex-direction: column;
	display: flex;
	width: 100%;
	height: 100%;
}

#topbar
{
	height: 50px;
	width: 100%;
	display: flex;
}

#return_home
{
	height: 100%;
	aspect-ratio: 1/1;
	/*padding: 5px;*/
}

#return_home .btntext
{
	display: none;
}

#return_home svg
{
	/*fill: white;*/
	/*width: 70%;*/
	/*height: 70%;*/
	/*transform: translateX(10px) scale(1.7);*/
	/*transform: scale(1.7);*/
}



#codex
{
	display: flex;
	flex-direction: column;
	width: 800px;
	margin-left: 50px;
	margin-top: 100px;
}

.codex_point
{
	display: flex;
	flex-direction: row;
}

.codex_point img
{
	width: 30px;
	height: 30px;
	object-fit: contain;
	object-position: center;
}


.codex_text
{
	color: #f5e7de;
	font-family: 'tf2_secondary';
	font-size: 25px;
	/*-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);*/
}


codex
{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

















