@import url('fonts.css');
@import url('tfbtns.css');

*
{
	padding: 0px;
	margin: 0px;
}



html
{
	width: 100%;
	height: 100%;
	/*min-height: 650px;*/
}

body
{
	background-image: url('assets/other/title_war.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	flex-direction: column;
	display: flex;
	width: 100%;
	height: 100%;
}

#topbar
{
	height: 50px;
	width: 100%;
	display: flex;
}

#return_home
{
	height: 100%;
	aspect-ratio: 1/1;
	/*padding: 5px;*/
}

#return_home .btntext
{
	display: none;
}

#return_home svg
{
	/*fill: white;*/
	/*width: 70%;*/
	/*height: 70%;*/
	/*transform: translateX(10px) scale(1.7);*/
	transform: scale(1.7);
}


#quicktext
{
	margin-top: 150px;
	margin-left: 200px;
	display: flex;
	color: black;
	font-family: 'tf2_secondary', sans-serif;
	font-size: 23px;
	width: 25vw;
	/*height: 300px;*/
	height: fit-content;
	background: #dabdab;
	padding: 10px;
	border-radius: 5px;
}




.infobox
{
	display: flex;
	flex-direction: column;
	width: 35vw;
	margin: 100px 0px 0px 4vw;
	height: fit-content;
	-webkit-box-shadow: 2px 2px 5px 1px #070707; 
	box-shadow: 2px 2px 5px 1px #070707;
	overflow: hidden;
	border-radius: 6px;
	min-width: 650px;
	max-width: 655px;
	/*min-width: 424px;*/
	
}

#infopage_lside
{
	/*display: flex;*/
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding-bottom: 200px;
}

#infopage_lside::-webkit-scrollbar
{
	display: none;
}


.infobox_top
{
	/*font-family: arial,helvetica,sans-serif;*/
	/*font-weight: bold;*/
	font-family: 'tf2_bold';
	/*font-size: 25px;*/
	font-size: 30px;
	display: flex;
	border-radius: 6px 6px 0px 0px;
	background: gray;
	background: linear-gradient(0deg, rgba(53,48,42,1) 0%, rgba(71,64,56,1) 100%);
	/*-webkit-box-shadow: 0px 1px 7px 1px #070707; */
	box-shadow: 0px 1px 7px 1px #070707;
	z-index: 3;
	/*width: 100%;*/
	/*text-align: center;*/
	/*align-items: center;*/
	justify-content: center;
	padding: 4px;
}

.infobox_top span
{
	background-image: linear-gradient(0deg, rgba(156,154,143,1) 0%, rgba(219,217,205,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

}


.infobox_bottom
{
	font-family: arial,helvetica,sans-serif;
	/*font-size: 15px;*/
	display: flex;
	flex-direction: column;
	background: black;
	background: linear-gradient(0deg, rgba(60,54,47,1) 0%, rgba(78,69,62,1) 100%);
	border-radius: 0px 0px 6px 6px;
	padding: 15px;
}


.infobox_step
{
	display: flex;
	flex-direction: column;
	
}

.infobox_step:not(:first-child)
{
	margin-top: 20px;
}

.infobox_step_header
{
	display: flex;
	color: #c36815;
	font-family: 'tf2_secondary';
	font-size: 19px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.infobox_step_text
{
	margin-top: 3px;
	/*display: flex;*/
	color: #C7C3C1;
	font-size: 16px;
}

#pro_standards
{
	text-decoration: none;
	color: #CCC6A4;
}

#pro_standards:hover
{
	text-decoration: underline;
}




#item_descr_pan, #item_descr_ham
{
	display: flex;
}

#pan_descr_img, #ham_descr_img
{
	display: flex;
	flex-direction: column;
}

#pan_descr_img img, #ham_descr_img img
{
	object-fit: contain;
	object-position: center;
	width: 200px;
}

#item_descr_pan ul, #item_descr_ham ul
{
	margin-left: 30px;
}


#question_items .infobox_step
{
	-webkit-box-shadow: inset 0px 0px 6px 4px rgba(0,0,0,0.52); 
	box-shadow: inset 0px 0px 6px 4px rgba(0,0,0,0.52);
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.2);
	padding: 10px;
}



#ham_descr_img
{
	min-width: 200px;
}

#ham_descr_img img
{
	width: 150px;
	align-self: center;
}








@media only screen and (hover: none) and (pointer: coarse)
{
	#return_home
	{
		min-height: 100px;
	}

	#return_home svg
	{
		width: 40%;
		height: 40%;
	}

	.infobox_step_header
	{
		font-size: 4vw !important;
	}

	.infobox
	{
		display: flex;
		margin-left: 0px;
		margin-right: 0px;
		width: 90%;
		max-width: unset;
	}

	#infopage_lside
	{
		display: flex;
		width: 100%;
		height: auto;
		overflow-y: unset;
		/*padding-left: 20px; */
		/*padding-right: 20px;*/
		/*justify-content: center;*/
		align-items: center;
	}

	html
	{
		overflow-x: hidden;
		height: auto;
	}

	.infobox_top
	{
		font-size: 5vw;
	}

	.infobox_step_text
	{
		font-size: 2vw;
	}

}








